* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 99999;
    background-color: white;
}

.head {
    width: 1390px;
    min-height: 80px;
    /* border: 1px red solid; */
    display: flex;
}

.forlogo {
    width: 120px;
    height: 20px;
    margin: 30px 0px 35px 45px;
    font-size: 23px;
    /* color: blue; */
}

.forlogo span {
    font-size: 23px;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.shop {
    margin-left: 50px;
    margin-top: 35px;
    font-weight: 400;
    position: relative;
    /* border: 1px red solid; */

}
.shop i{
    transform: rotate(0);
    transition: .3s;
}
.shop:hover i{
transform: rotate(180deg);
}

.shop-anim {
    width: 0%;
    border-bottom: 1px rgb(106, 76, 243) solid;
    position: absolute;
    bottom: 25px;
    transition: 0.8s;
    right: 0%;
}
    

.shop:hover .shop-anim {
    left: 0%;
    width: 100%;
    right: auto;
    
}
.technologies i{
    transform: rotate(0);
    transition: .3s;
}
.technologies:hover i{
transform: rotate(180deg);
}

.shop-anim {
    width: 0%;
    border-bottom: 1px rgb(106, 76, 243) solid;
    position: absolute;
    bottom: 25px;
    transition: 0.8s;
    right: 0%;
}
    

.technologies:hover .shop-anim {
    left: 0%;
    width: 100%;
    right: auto;
    
}
.about i{
    transform: rotate(0);
    transition: .3s;
}
.about:hover i{
transform: rotate(180deg);
}

.shop-anim {
    width: 0%;
    border-bottom: 1px rgb(106, 76, 243) solid;
    position: absolute;
    bottom: 25px;
    transition: 0.8s;
    right: 0%;
}
    

.about:hover .shop-anim {
    left: 0%;
    width: 100%;
    right: auto;
    
}
.Buildus i{
    transform: rotate(0);
    transition: .3s;
}
.Buildus:hover i{
transform: rotate(180deg);
}

.shop-anim {
    width: 0%;
    border-bottom: 1px rgb(106, 76, 243) solid;
    position: absolute;
    bottom: 25px;
    transition: 0.8s;
    right: 0%;
}
    

.Buildus:hover .shop-anim {
    left: 0%;
    width: 100%;
    right: auto;
    
}
.Support i{
    transform: rotate(0);
    transition: .3s;
}
.Support:hover i{
transform: rotate(180deg);
}

.shop-anims {
    width: 0%;
    border-bottom: 1px rgb(106, 76, 243) solid;
    position: absolute;
    bottom: -10px;
    transition: 0.8s;
    right: 0%;
}
    

.Support:hover .shop-anims {
    left: 0%;
    width: 100%;
    right: auto;
    
}


.technologies {
    margin-left: 30px;
    margin-top: 35px;
    font-weight: 400;
    position: relative;
}

.about {
    margin-left: 30px;
    margin-top: 35px;
    font-weight: 400;
    position: relative;
}

.Buildus {
    margin-left: 30px;
    margin-top: 35px;
    font-weight: 400;
    position: relative;
}

.shop1 {
    width: 1340px;
    min-height: 100px;
    position: absolute;
    left: 0px;
    top: 55px;
    left: -207px;
    padding-left: 172px;
    /* border: 1px rgb(221, 218, 218) solid; */
    display: flex;
    display: none;
    background-color: white;
}

.tech1 {

    width: 1340px;
    min-height: 300px;
    position: absolute;
    left: 0px;
    left: -301px;
    padding-left: 300px;
    top: 55px;
    /* border: 1px rgb(221, 218, 218) solid; */
    display: flex;
    display: none;
    background-color: white;
}

.shop1c1 li {
    margin-top: 10px;
    font-size: 14px;

}

.shop1c1 h4 {
    margin-top: 10px;
}

.shop:hover .shop1 {
    display: flex;
}

.technologies:hover .tech1 {
    display: flex;
}

.about:hover .about1 {
    display: flex;
}

.Buildus:hover .buildus1 {
    display: flex;
}

.Support:hover .Support1 {
    display: flex;
}

.techc1 {
    padding-right: 100px;
}

.techc1 li {
    margin-top: 25px;
    font-size: 14px;

}

.techc1 h4 {
    margin-top: 15px;
}

.about1 {

    width: 1340px;
    min-height: 200px;
    position: absolute;
    left: px;
    top: 55px;
    left: -480px;
    padding-left: 208px;
    /* border: 1px rgb(221, 218, 218) solid; */
    display: flex;
    display: none;
    background-color: white;
}

.about1c1 li {
    margin-top: 25px;
    font-size: 14px;

}

.about1 h4 {
    margin-top: 15px;
}

.about1c1 {
    padding-right: 100px;
}

.buildus1 {
    width: 1340px;
    min-height: 300px;
    position: absolute;
    left: 0px;
    left: -601px;
    padding-left: 224px;
    top: 55px;
    /* border: 1px rgb(221, 218, 218) solid; */
    display: flex;
    display: none;
    background-color: white;
}

.buildus1c1 li {
    margin-top: 25px;
    font-size: 14px;

}

.buildus1c1 h4 {
    margin-top: 15px;
}

.buildus1c1 {
    padding-right: 100px;
}

.Support {
    margin-top: 36px;
    margin-left: 370px;
    margin-bottom: 30px;
    position: relative;
    /* border-right: 1px rgb(173, 171, 171) solid ; */
}

.Support1 {
    width: 1349px;
    min-height: 200px;
    position: absolute;
    left: 0px;
    left: -1103px;
    top: 55px;
    /* border: 1px rgb(221, 218, 218) solid; */
    display: flex;
    display: none;
    padding-left: 100px;
    background-color: white;
}

.Support1c1 {
    padding-right: 100px;
}

.Support1c1 li {
    margin-top: 25px;
    font-size: 14px;

}

.Support1c1 h4 {
    margin-top: 15px;
}

.search {
    margin: 20px;
    border-left: 1px solid rgb(226, 222, 222);
    padding-top: 15px;
    padding-left: 20px;
    font-size: 17px;
    cursor: pointer;
}

.news_room {
    font-size: 48px;
    font-weight: 700;
    color: rgb(107, 106, 106);
    padding-left: 80px;
    padding-top: 50px;
    letter-spacing: 4.2px !important;
}

.top_stories {
    color: rgb(107, 106, 106);
    padding-left: 80px;
    padding-top: 50px;
    font-size: 25px;
    letter-spacing: 4.2px !important;
    font-weight: 700;
}

.giftext {
    width: 100%;
    min-height: 200px;
    padding-top: 30PX;
    display: flex;
    padding-right: 20px;
}

.gif {
    width: 50%;
    min-height: 100px;
    padding-left: 80px;
    /* background: url(gif\ facebook.gif); */
    /* background-color: red; */
}

.text {
    width: 50%;
    min-height: 100px;
    padding-left: 50px;
    display: flex;
}

.metatext {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
}

.metatexts {
    padding-top: 0px;
    font-size: 20px;
    font-weight: 400;
}

.meet {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4.2px !important;
    padding-top: 15px;
}

.meets {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2.2px !important;
    padding-top: 15px;
}

.thank {
    font-size: 17px;
    margin-top: 4px;
    margin-bottom: 10px;
    color: #7a7878;
    letter-spacing: .05em;
    font-weight: 500;

}

.april {
    font-size: 17px;
    margin-top: 4px;
    margin-bottom: 70px;
    color: #666;
    letter-spacing: .05em;
    font-weight: 500;
}

.onlytext {
    width: 50%;
    min-height: 100px;
    padding-right: 10px;
    /* border: #666 1px solid; */
}

.onlyimg {
    width: 50%;
    min-height: 100px;
    padding-right: 20px;
    /* border: red 1px solid; */
}

.metaright {
    padding-top: 45px;
    font-size: 20px;
    font-weight: 400;
}

.onlyimg_img {
    margin-bottom: 135px;
    overflow: hidden;
    cursor: pointer;
    /* margin: 1.5%; */
}

.onlyimg_img img {
    transform: scale(1, 1);
    transition: 1s;
}

.onlyimg_img:hover img {
    transform: scale(1.1, 1.1);
}

.labs1o {
    width: 100%;
    min-height: 50px;
    display: flex;
}

.Celebrating {
    width: 55%;
    min-height: 50px;
    padding: 70px;
    background-color: rgb(212, 210, 210);
}

.celmeta {
    padding-top: 100px;
    font-size: 20px;
    font-weight: 400;
}

.cellab {
    font-size: 36px;
    color: #0e0d0d;
    line-height: 43px;
    letter-spacing: 1.8px !important;
    font-weight: 600;
    padding-top: 10px;
}

.giflab {
    width: 45%;
    min-height: 50px;

}

.Recent_News {
    font-size: 14px;
    font-weight: 700;
    margin: 20px;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.allstory {
    font-size: 15px;
    color: rgb(75, 74, 74);
    margin: 20px;
    padding-left: 40px;
    font-weight: 600;
    /* margin-bottom: 135px; */
    overflow: hidden;
    cursor: pointer;
    display: block;
    margin-right: 1080px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .04em;
    /* font-family: 'Optimistic Text', sans-serif; */
}

.allstory samp {
    transform: scale(1, 1);
    transition: 0s;
}

.allstory:hover samp {
    transform: scale(1.2, 1.2);
    color: black;
    font-weight: bold;
}

.Categories {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: #677b8c;
    margin: 20px 0 10px;
    padding-left: 60px;
}

.preeslink {
    background-color: #f1f2f4;
    font-size: 14px;
    color: #3a3a3a;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.preeslink_1 {
    margin-left: 90px;
}

.preeslink_2 {
    margin-left: 215px;
    padding-top: 5px;
}

footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    gap: 25px;
}

.footerclass1 {
    width: 25%;
    min-height: 200px;
}

.FollowUs {
    padding-left: 48px;
    font-size: 12px;
}

.icons {
    font-size: 25px;
    padding-top: 15px;
    padding-left: 48px;
    display: flex;
    gap: 20px;
}

.footerclass2 {
    width: 25%;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.Virtualreality {
    margin-top: 40px;
    font-weight: 600;
}

.vrgood {
    font-size: 13px;
    margin-top: 15px;
    color: black;
}

.vrgood a {
    transform: scale(1, 1);
    transition: 0s;
}

.vrgood:hover a {
    transform: scale(1.2, 1.2);
    color: rgb(145, 143, 143);
    font-weight: bold;
}

.cookies {
    width: 100%;
    min-height: 20px;
    padding: 40px;
    display: flex;
    font-size: 13px;
    gap: 41px;
}

.United {
    margin-left: 460px;
    cursor: pointer;
    border: white 2px solid;
}